.recommendColor {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flexColor {
  display: flex;
}

.flexColor div {
  margin-right: 2px;
  margin-left: 2px;
}
